*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.container{
    max-width: 1156px;
    margin: auto;
}
.wrap1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    background-color: #F97B3A;
    padding: 10px 0;
}
nav ul{
    display: flex;
    list-style: none;
}
nav a{
    display: inline-block;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: white;
    margin-left: 60px;
    text-decoration: none;
}
.section1{
    margin-top: 37px;
    margin-bottom: 42px;
    position: relative;
}
.zag{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    margin: 0 12px 7px;
}
.line{
    background-color: black;
    height: 2px;
    margin-bottom: 30px;
}
.wrap2{
    display: flex;
    justify-content: space-between;
}
.cards1{
    border: 3px solid #F97B3A;
    border-radius: 0 0 10px 10px;
    width: 274px;
    height: 119px;
    padding: 7px 0 0 13px;
}
.cards1 h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}
.cards1 p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.block{
    display: block;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 78px;
}
.wrap > div{
    width: calc(50% - 30px);
}
.section2{
    position: relative;
}
.block2{
    border: 3px solid #F97B3A;
    border-radius: 20px;
    margin-bottom: 92px;
    position: relative;
}
.block2 h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 14px;
}
.block2 img{
    position: absolute;
    top: 17px;
    right: 12px;
}
.block2 button{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    background: #F97B3A;
    border-radius: 9px;
    padding: 5px 30px;
    border: none;
    position: absolute;
    bottom: 13px;
    right: 18px;
}
.block2 button:hover{
    cursor: pointer;
    background-color: white;
    color: #F97B3A;
    padding: 3px 28px;
    border: 2px solid #F97B3A;
}
.block3{
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
    margin-left: 30px;
}
.block4{
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    margin-left: 18px;
}
.block4 input{
    position: absolute;
    opacity: 0;
    width: 19px;
    height: 19px;
}
.block4 span{
    display: inline-block;
    width: 19px;
    height: 19px;
    border: 2px solid #F97B3A;
    vertical-align: middle;
    margin-right: 7px;
}
.block4 input:checked + span{
    background-image: url(../images/paw2.svg);
}
.block4 label{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    vertical-align: middle;
}
.block4 div{
    width: 50%;
    margin-bottom: 26px;
}
.section3{
    margin-bottom: 106px;
    position: relative;
}
.section3 h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 25px;
}
.cards2{
    border: 3px solid #F97B3A;
    border-radius: 0 0 10px 10px;
    width: 372px;
    height: 190px;
    padding: 10px 0 0 12px;
    position: relative;
    bottom: 38px;
    background-color: white;
}
.cards2 h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
.cards2 > p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin-top: 7px;
}
.wrap3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrap3 p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #8A8A8A;
    margin-right: 12px;
}
.wrap4{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer{
    background-color: #F97B3A;
}
footer .container{
    text-align: center;
}
footer img{
    padding: 25px 0;
}
footer div{
    position: relative;
}
.el1{
    position: absolute;
    top: 350px;
    left: -446px;
}
.el2{
    position: absolute;
    right: -678px;
    top: -200px;
}
.el3{
    position: absolute;
    bottom: 0;
    right: -576px;
}

@media(max-width:1256px){
    .container{
        max-width: 95%;
    }
}
@media(max-width:1175px){
    .wrap2{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .wrap2 > div{
        margin-bottom: 30px;
    }
    .section1{
        margin-bottom: 12px;
    }
    .wrap4{
        justify-content: space-around;
    }
}
@media(max-width:1040px){
    .wrap > div{
        width: 480px
    }
}
@media(max-width:540px){
    .wrap > div{
        width: 240px
    }
    .block4 div{
        width: 240px;
        margin-bottom: 26px;
    }
}
@media(max-width:420px){
    .section3 .block{
        width: 300px;
    }
    .cards2{
        width: 300px;
    }
    .cards2 h3{
        font-size: 20px;
    }
    .cards2 > p{
        font-size: 16px;
    }
    .wrap3 p{
        font-size: 10px;
    }
}
@media(max-width:380px){
    .section3 h2{
        font-size: 20px;
    }
}