* {
    margin: 0px;
    padding: 0px;
}

.container {
    max-width: 1156px;
    margin: auto;
}

/* Header */

header {
    background-color: #F97B3A;
}

header img {
    height: 50px;
    padding: 10px 0px;
    display: inline-block;
}

.flexbox {
    display: flex;
    justify-content: space-between;
}

nav {
    display: inline-block;
    vertical-align: middle;
    width: 991px;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 24px;
    height: 30px;
    padding-top: 20px;
    display: inline-block;
    transition: .2s;
}

nav a:hover {
    border-bottom: 2px #fff solid;
}

.finaly {
    padding-right: 0px;
}

/* Main */

h1 {
    display: block;
    border-bottom: solid 2px #000;
    color: #000;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 36px;
    padding-left: 24px;
    margin-top: 26px;
}

h2 {
    display: block;
    color: #000;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 36px;
    margin-top: 19px;
}

.name_form h3, .second-name_form h3, .location_form h3 {
    color: #000;
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 32px;
    padding-top: 12px;
    margin-left: 20px;
}

.name_form input, .second-name_form input, .location_form input, .coment textarea{
    background-image: url(images/cat_paw.svg);
    background-repeat: no-repeat;
    background-position: right center;
    font-family: 'Roboto';
    font-size: 24px;
    padding-left: 20px;
    font-weight: 500;
    border: 3px solid #F97B3A;
    border-radius: 16px;
    width: 763px;
    height: 57px;
    outline: none;
}

.kind, .colorOfPet, .pol {
    width: auto;
    display: inline-block;
    font-family: 'Roboto';
    font-size: 36px;
}

.pol {
    margin-left: 138px;
}

.kind h3, .colorOfPet h3, .pol h3 {
    font-weight: 500;
    margin-left: 24px;
    margin-top: 70px;
}

.pol h3 {
    margin-left: 4px;
}

.colorOfPet h3 {
    margin-top: 74px;
}

label {
    cursor: pointer;
}

.radio{
    display: none;
}

.fake {
    display: inline-block;
    width: 28px;
    height: 28px;
    border: #F97B3A 3px solid;
    position: relative;
    margin-top: 32px;
    margin-right: 20px;
}

.fake::before {
    content: "";
    position: absolute;
    display: block;
    background-image: url(images/cat_paw.svg);
    width: 28px;
    height: 28px;
    top: -2px;
    left: -2px;
    opacity: 0;
    transition: .2s;
}

.radio:checked + .fake::before {
    opacity: 1;

}

.text {
    font-family: 'Roboto';
    font-weight: 400;
    margin-right: 97px;
    display: inline-block;
}

#finaly {
    margin-right: 0px;
}

.coment {
    margin-top: 90px;
    margin-bottom: 106px;
}

.coment textarea {
    font-weight: 400;
    padding-top: 22px;
    padding-left: 24px;
    background-position: right top;
    width: 1126px;
    height: 280px;
}

.photo {
    display: flex;
    align-content: flex-start;
}

.addPhoto {
    display: inline-block;
    background-color: #F97B3A;
    border-radius: 10px;
    border: solid #F97B3A 3px;
    transition: .2s;
    height: 71px;
}

.addPhoto p {
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: 600;
    padding: 18px 78px 18px 23px;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    position:relative;
    transition: .2s;
}

.addPhoto p::after {
    content: url(images/addPhoto.svg);
    position: absolute;
    right: 12px;
    transition: .2s;
}

.addPhoto:hover {
    background-color: #fff;
    border: solid #F97B3A 3px;
}

.addPhoto p:hover {
    color: #F97B3A;
}

.addPhoto p:hover::after {
    content: url(images/orangeAddPhoto.svg);
}

.choosePicture {
    display: inline-block;
}

.choosePicture textarea {
    border: 3px dashed #F97B3A;
    opacity: 1;
    outline: none;
    border-radius: 16px;
    width: 764px;
    height: 321px;
    margin-left: 20px;
    margin-bottom: 60px;
    padding: 22px 14px;
    font-weight: 400;
    font-family: 'Roboto';
    font-size: 24px;
    position: relative;
}

.choosePicture textarea::placeholder {
    color: #F97B3A;
    opacity: .6;
    position: absolute;
    top: 47%;
    left: 25%;
}

.sent {
    display: block;
    text-align: center;
    margin-bottom: 150px;
}

.sent a {
    color: #fff;
    display: block;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 32px;
    text-decoration: none;
    background-color: #F97B3A;
    border: 3px #F97B3A solid;
    border-radius: 10px;
    padding: 18px 200px;
    transition: .2s;
}

.sent a:hover {
    color: #F97B3A;
    background-color: #fff;
}
/* Footer */

footer {
    background-color: #F97B3A;
    display: flex;
    justify-content: center;
}

.footer_logo img {
    padding: 25px 0px;
}